.lee-colorpick {
  width: 276px;
  height: 152px;
  overflow: hidden;
  display: -none;
  font-family: Arial, Helvetica, sans-serif;
  background: #ebebeb;
  border: 1px solid #bbb;
  border-radius: 5px;
  user-select: none;
  padding: 10px;
}
.lee-colorpick_color {
  background: linear-gradient(transparent, black),linear-gradient(to right, white, rgba(255, 255, 255, 0));
  width: 150px;
  height: 150px;
  overflow: hidden;
  border: 1px solid #aaa;
  cursor: crosshair;
  float: left;
  position: relative;
}
.lee-colpick_selector_inner {
  position: absolute;
  width: 9px;
  height: 9px;
  top: 50px;
  left: 50%;
  -webkit-box-shadow: 0 0 0 1px #fff, 0 0 0 2px #000;
  box-shadow: 0 0 0 1px #fff, 0 0 0 2px #000;
  border-radius: 50%;
}
.lee-colorpick_hue {
  width: 20px;
  height: 150px;
  border: 1px solid #aaa;
  cursor: n-resize;
  background: linear-gradient(to bottom,#ff0000,#ff0080,#ff00ff,#8000ff,#0000ff,#0080ff,#00ffff,#00ff80,#00ff00,#80ff00,#ffff00,#ff8000,#ff0000);
  float: left;
  margin: 0 15px;
  position: relative;
  &:before {
    content: ' ';
    position: absolute;
    left: -7px;
    top: -6px;
    width: 0;
    height: 0;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-left: 7px solid #858585;
  }
  &:after {
    content: ' ';
    position: absolute;
    right: -7px;
    top: -6px;
    width: 0;
    height: 0;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-right: 7px solid #858585;
  }
}

.lee-colorpick_handle {
  float: left;
  width: 72px;
  height: 150px;
}
.lee-colorpick_show_color {
  height: 15px;
  width: 70px;
  border: 1px solid #aaa;
}
.lee-colorpick_new_color,.lee-colorpick_current_color {
  height: 15px;
  width: 35px;
  float: left;
}
.lee-colpick_field {
  height: 20px;
  width: 70px;
  overflow: hidden;
  background: #fff;
  color: #b8b8b8;
  font-size: 12px;
  border: 1px solid #bdbdbd;
  border-radius: 3px;
  margin: 5px 0 0;
}
.lee-colpick_title {
  margin: 0;
  width: 12px;
  height: 20px;
  line-height: 20px;
  padding-left: 3px;
  background: #efefef;
  border-right: 1px solid #bdbdbd;
  font-weight: bold;
  color: #777;
  float: left;
}
.lee-colpick_inp {
  margin: 0;
  padding: 0;
  height: 20px;
  width: 54px;
  line-height: 20px;
  background: transparent;
  border: none;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  color: #555;
  text-align: right;
  outline: none;
  float: left;
}
.lee-colpick_sub {
  width: 70px;
  height: 22px;
  line-height: 22px;
  background: #efefef;
  text-align: center;
  color: #555;
  font-size: 12px;
  font-weight: bold;
  border: 1px solid #bdbdbd;
  border-radius: 3px;
  padding: 0;
  margin: 5px 0 0;
}
